* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .hero-gradient {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom,
      #4B2E1D 79%,  
      #6B3F27 50%    
    );
  }
  
  .hero-img {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    top: 23%;
    filter: drop-shadow(0px 40px 60px rgba(0, 0, 0, 0.5));
  }
  
  .bg{
    position: absolute;
    z-index: 2;
  }
  .bg0 {
    position: absolute;
    top: -100px;
    right: -200px;
   
    opacity: 0.4;
  }
  .bg1 {
    position: absolute;
    bottom: -200px;
    right: 980px;
    z-index: 1;
    opacity: 0.4;
  }
  .bg2 {
    position: absolute;
    top: -200px;
    right: 400px;
    z-index: 1;
    opacity: 0.4;
  }
  .bg3 {
    position: absolute;
    top: -100px;
    right: 910px;
    z-index: 1;
    opacity: 0.4;
  }
  .bg4 {
    position: absolute;
    bottom: -180px;
    right: 210px;
    z-index: 1;
    opacity: 0.4;
  }
  .bg5 {
    position: absolute;
    bottom: -80px;
    right: -210px;
    z-index: 1;
    opacity: 0.4;
  }
  .bg6 {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 1;
    opacity: 0.4;
  }
  
  .hero-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
  
    line-height: 30px;
    text-align: left;
  }
  .drink-title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .drink-subtext {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #d7ccc8;
  }
  .hero-content {
    position: absolute;
    top: 20%;
    left: 3%;
    z-index: 2;
    color: white;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 330px;
  }
  .arrows {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    z-index: 3;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    background-color: #ddd; 
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .arrow:hover {
    background-color: #bbb;
    transform: scale(1.1);
  }
  
  .drink-bg-word {
    position: absolute;
    top: 33%;
    left: 17%; 
    transform: translate(-50%, -50%); 
    font-size: 300px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);
    z-index: 1;
    letter-spacing: 20px;
    pointer-events: none;
    user-select: none;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    white-space: nowrap;
  }
  
  
  .gradient-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  .hero-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1005;
  }